body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

main {
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.video {
    height: screen;
    width: 100%;
}
.img {
    border-radius: 50%;
    width: 100px;
    display: flex;
    height: 100px;
    object-fit: cover;
}

.h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.digit {
    color: blue;
    font-family: monospace;
}

.surot {
    width: 100%;
    height: 500px;

    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.photos {
    overflow-x: scroll;
    width: 100%;
    display: flex;
gap: 8px;
    scroll-snap-type: x mandatory;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.company-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
}

.company-card img {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    margin-right: 20px;
}

.company-info {
    padding: 20px 40px;
    max-width: 100ch;
    flex: 1;
}

.company-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.company-description {
    color: #555;
}